tasks img {
	height: 32px;
}

body {
	display:flex;
	flex-direction: column;
}

body > webview {
	flex-grow:2;
}

.ui-resizable-s,
.ui-resizable-n {
	cursor:n-resize;
}
.ui-resizable-se,
.ui-resizable-nw {
	cursor:se-resize;
}
.ui-resizable-sw,
.ui-resizable-ne {
	cursor:sw-resize;
}
.ui-resizable-e,
.ui-resizable-w {
	cursor:e-resize;
}

window {
	position: fixed !important;
	top:20em;
	right:20em;
	width:400px;
	height:400px;
	display:inline-flex;
	flex-direction: column;
	background: #007bff;
	border-radius:0.25rem;
    padding: 0.25rem;
    padding-top: 0;
		box-shadow: inset 0 0 0 1000000px rgba(255,255,255,0.2), 0px 0px 10px 2px rgba(0,0,0,0.5);
}
window.active {
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8);
}
window webview {flex-grow:2}
window window-header {
	flex-shrink:0;
	display:flex;
}
window window-title {
	flex-grow:2;
	color: white;
text-align: center;
font-size: medium;
line-height: 32px;
}
window window-buttons button {
	background: none;
	border: none;
	color:white;
	padding:0.25rem 0.1rem;
}

* {
	user-select: none;
}

@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

nav-bar tasks button.btn {
	border: 0;
}

tasks button.active {
	box-shadow: inset 0 -2px 0 0 #286090 !important;
	border-radius: 0;
}
start-menu .panel, network-menu .panel {
  flex-grow: 2;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

start-menu .nav, network-menu .nav {
  flex-shrink: 0;
  padding-top: 5px;
}

start-menu .list-item, network-menu .list-item {
  text-align: left;
  padding: 5px;
  line-height: 26px;
  border: 0;
  color: black;
  font-size: 14px;
  display: inline-block;
  width:100%;
  white-space: nowrap;
}

start-menu .list-item img, network-menu .list-item img {
  width: 48px;
  float: left;
  margin-right: 5px;
}

start-menu .list-item name, network-menu .list-item name {
  font-size: large;
  display: inline-block;
  padding-top: 2px;
}

start-menu .list-item description, network-menu .list-item description {
  white-space: normal;
  color: slategrey;
  line-height: 17px;
  display: inline-block;
  width: calc(100% - 52px);
  padding-bottom: 2px;
}

start-menu hr, network-menu hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 5px -5px;
}

start-menu.card, network-menu, clock-menu.card {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  position:fixed;
  min-width:350px;
  margin:0.5rem;
  margin-bottom:2.5rem;
  bottom: 0;
  max-width: 400px;
height: 400px;
z-index:1000;
}

wifi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

start-menu .cssload-inner, network-menu .cssload-inner {
  border-color: #286090;
}

start-menu profile-section {
  position: relative;
}

start-menu profile-section img {
  height: 64px !important;
}

clock-menu.card {
  height: auto;
  left: auto;
  right: 0;
  padding: 0;
}

wifi-overlay img {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
tasks button.loading img {
	animation: rotation 1s infinite linear;
	filter: contrast(120%)
}
tasks button {

	margin: -1rem 0;
}

tray button.active {
	background: #007bff;
	color: white !important;
}

tray button.active i {
	color: white
}

tray button {
	border: 0;
	background: none;
	border-radius: 0 0 5px 5px;
	outline: 0 !important;
	font-size: 1.25rem;
	vertical-align: middle;
}
tray button.material-icons,
tray button .material-icons {
	font-size:18px !important;
}

tray button img {
	height: 24px;
}
